TEST/services/TestDataService_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="TestDataService"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="TestDataServiceOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="TestDataServiceOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="TestDataServiceOperationRequest">
		<wsdl:part name="parameters" element="tns:TestDataServiceOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="TestDataServiceOperationResponse">
		<wsdl:part name="parameters" element="tns:TestDataServiceOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="TestDataServicePortType">
		<wsdl:operation name="TestDataServiceOperation">
			<wsdl:input message="tns:TestDataServiceOperationRequest"></wsdl:input>
			<wsdl:output message="tns:TestDataServiceOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="TestDataServiceBinding" type="tns:TestDataServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="TestDataServiceOperation">
			<soap:operation soapAction="http://www.talend.org/service/TestDataServiceOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="TestDataService">
		<wsdl:port name="TestDataServicePort" binding="tns:TestDataServiceBinding">
			<soap:address location="http://localhost:8090/services/TestDataService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>